body{
    background-color: darkgray;
    width: 100%;

}
 .image{
    position: absolute;
    left: 20%;
    right: 20%;
 }
 .img1,.img2,.img3,.img4{
       background-color: white;
       border: 1px solid white;
       text-align: center;
       color: black;
       margin: 50px;
       padding: 75px;
 }
 .row1{
    display:flex;
 }
 .row2{
    display:flex;
 }
 img{
    height: 120px;
    width: 120px;
    border: 1px solid black;
 }
 button{
    color: white;
    border: 1px solid white;
    background-color: green;
 }